---

interface Props {
    id: string;
    text: string;
    weight?: string;
}

const { id, text, weight = '' } = Astro.props
---

<h2 id={id} class={`font-mono ${weight} text-sm tracking-[0.12em] text-accent-cyan uppercase`}>{text}</h2>